<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>HelloWorld</title>
</head>
<body>
    <h1>HelloWorld</h1>
    <hr>
    <div id="app">
        <input type="radio" id="one" value="男" v-model="sex">
        <label for="one">男</label>
        <input type="radio" id="two" value="女" v-model="sex">
        <label for="two">女</label><br>
        <p>你的性别是：{{sex}}</p>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el:'#app',
            data:{
                sex:'男'
            }
        })
    </script>
</body>
</html>